p {
    font-size: larger;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


ol span li {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(34, 34, 34, 0.548);
}