.questionDiv{

}

.questionNumberBox {
    height: 100vh;
    border: 1px solid greenyellow;
}

.questionNumberBox div {
    color: rgb(156, 156, 55);
    height: 10%;
    padding: 15px 0px 0px 0px;
}

.questionNumberBox div:hover {
    font-size: 20px;
    color: red;
}