.questionDiv {
    margin-top: 5%;
    width: max-content;
}

.quesComponent {
    min-height: 200px;
}

.submitDiv {
    float: right;
    margin-top: 20%;
}

.questionNumberBox {
    height: 92vh;
    border: 1px solid greenyellow;
}

.questionNumberBox div {
    color: rgb(156, 156, 55);
    height: 10%;
    padding: 15px 0px 0px 0px;
}

.questionNumberBox div:hover {
    font-size: 20px;
    color: red;
}

.bgQues {
    background-color: rgb(127, 184, 125);
    font-size: larger;
}