.questionDiv {
    margin-top: 5%;
    width: max-content;
}

.quesComponent {
    min-height: 200px;
}

.submitDiv {
    float: right;
    margin-top: 20%;
}

.questionNumberBox {
    height:max-content;
    border: 1px solid greenyellow;
}

.questionNumberBox .row {
    padding: 30px;
}

.questionNumberBox .row div {
    color: rgb(99, 99, 60);
    height: 10%;
    padding: 15px;
}

.questionNumberBox .row div:hover {
    font-size: 20px;
    color: red;
}

.bgQues {
    background-color: rgb(127, 184, 125);
    font-size: larger;
}